<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <%= display_meta_tags title: 'Swifty', description: 'Swifty Password Manager' %>

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://getswifty.pro/images/twitter-card.jpg">
    <meta property="og:title" content="Password Manager for 21st Century | Swifty">
    <meta property="og:description" content="Free and Offline Password Manager that allows you to securely store your Passwords, Credit Cards, and Other Credentials.">
    <meta property="og:url" content="https://getswifty.pro">
    <meta property="og:site_name" content="Swifty">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Free and Offline Password Manager that allows you to securely store your Passwords, Credit Cards, and Other Credentials.">
    <meta name="twitter:title" content="Password Manager for 21st Century | Swifty">
    <meta name="twitter:site" content="@getSwiftyApp">
    <meta name="twitter:image" content="https://getswifty.pro/images/twitter-card.jpg">
    <meta name="twitter:creator" content="@getSwiftyApp">

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "ua-parser" %>
    <%= javascript_include_tag "site" %>
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <%= google_analytics_tag %>
  </head>
  <body>
    <div class="header">
      <div class="wrapper">
        <a href="/" class="logo">
          <div class="brand">
            <%= image_tag "brand@2x.png", width: '48', height: '48'%>
          </div>
          <div class="name">Swifty</div>
        </a>
        <div class="menu">
          <a
            href="https://github.com/swiftyapp/swifty"
            onClick="ga('send', 'event', 'Buttons', 'Github_Button_Clicked')"
            class="github-button"
            target="_blank"
          >
            <%= inline_svg 'github.svg', size: '24px*24px' %>
          </a>
          <a href="/download.html">Downloads</a>
        </div>
      </div>
    </div>
    <%= yield %>
    <div class="footer">
      <div class="wrapper">
        <a href="https://github.com/swiftyapp/swifty">GitHub</a>
        <a href="https://github.com/swiftyapp/swifty/releases">Releases</a>
        <span>License: <a href="https://github.com/swiftyapp/swifty/blob/master/LICENSE"><strong>GPL-3.0</strong></a></span>
        <div class="download-links">
          Download for:&nbsp;
          <a href="/download/mac">
            <%= inline_svg 'mac.svg', size: '16px*16px' %>
          </a>
          <a href="/download/win">
            <%= inline_svg 'windows.svg', size: '15px*15px' %>
          </a>
          <a href="/download/deb">
            <%= inline_svg 'linux.svg', size: '15px*15px' %>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
