<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= meta_data(current_page, 'title') %></title>
    <meta name="description" content="<%= meta_data current_page, 'description' %>" />

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://getswifty.pro/images/twitter-card.jpg">
    <meta property="og:title" content="Password Manager for 21st Century | Swifty">
    <meta property="og:description" content="Free and Offline Password Manager that allows you to securely store your Passwords, Credit Cards, and Other Credentials.">
    <meta property="og:url" content="https://getswifty.pro">
    <meta property="og:site_name" content="Swifty">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Free and Offline Password Manager that allows you to securely store your Passwords, Credit Cards, and Other Credentials.">
    <meta name="twitter:title" content="Password Manager for 21st Century | Swifty">
    <meta name="twitter:site" content="@getSwiftyApp">
    <meta name="twitter:image" content="https://getswifty.pro/images/twitter-card.jpg">
    <meta name="twitter:creator" content="@getSwiftyApp">

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "ua-parser" %>
    <%= javascript_include_tag "site" %>
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <%= google_analytics_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
